# MTK project .rc configure

import init.mt6755.usb.rc

# chenzz3 add for integrate crash check tool
import init.lenovo.crash.check.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
    mkdir /preload

on post-fs-data

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm
 #lenovo-sw huangsh4 add 20160404 begin
	chmod 0660 /dev/GT24c64_CAM_CAL_DRV
	chown system camera /dev/GT24c64_CAM_CAL_DRV 
	chmod 0660 /dev/CAM_CAL_DRV
	chown system camera /dev/CAM_CAL_DRV 
  #lenovo-sw huangsh4 add 20160404 end 

#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1

    chmod 0660 /dev/spm
    chown system system /dev/spm

#SMARTPA
    chmod 0666 /dev/smartpa_i2c

#lenovo-sw wuwl10 20161010 add begin
    chown system system /sys/class/leds/test-led/brightness
    chown system system /sys/class/graphics/fb0/cabc_mode
    chown system system /sys/class/graphics/fb0/hbm
    chown system system /sys/class/graphics/fb0/acl_mode
#lenovo-sw wuwl10 20161010 add end

# Lenovo-sw weimh1 add 2016-10-10 begin:add for Sensor calibration
	#for acc auto cali begin
    chown system system /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_x
    chown system system /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_y
    chown system system /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_z

    chmod 0660 /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_x
    chmod 0660 /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_y
    chmod 0660 /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_z
    restorecon /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_x
    restorecon /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_y
    restorecon /sys/bus/platform/drivers/gsensor/gsensor_auto_cali_z

    chown system system /sys/bus/platform/drivers/gsensor/daemon
    chmod 0666 /sys/bus/platform/drivers/gsensor/daemon
    restorecon /sys/bus/platform/drivers/gsensor/daemon

    chown system system /persist/GSSET.txt
    chmod 0666 /persist/GSSET.txt
    restorecon /persist/GSSET.txt
    #for acc auto cali end
	
    #for gyro auto cali begin
    touch /persist/gyroscope_autocali_x
    touch /persist/gyroscope_autocali_y
    touch /persist/gyroscope_autocali_z
    touch /persist/gyroscope_autocali_flag
    chown system system /persist/gyroscope_autocali_x
    chown system system /persist/gyroscope_autocali_y
    chown system system /persist/gyroscope_autocali_z
    chown system system /persist/gyroscope_autocali_flag
    chmod 0640 /persist/gyroscope_autocali_x
    chmod 0640 /persist/gyroscope_autocali_y
    chmod 0640 /persist/gyroscope_autocali_z
    chmod 0640 /persist/gyroscope_autocali_flag
    restorecon /persist/gyroscope_autocali_x
    restorecon /persist/gyroscope_autocali_y
    restorecon /persist/gyroscope_autocali_z
    restorecon /persist/gyroscope_autocali_flag
    #for gyro auto cali end
# Lenovo-sw weimh1 add 2016-10-10 end:add for Sensor calibration

# lenovo-sw,chengx2 add permission for smatpa start
    chmod 0666 /dev/smartpa_i2c
# lenovo-sw, chengx2 add permission for smatpa end
on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled


service atci_service /vendor/bin/atci_service
	socket atci-service stream 660 radio system
	socket atci-serv-fw stream 660 radio system
	user root
        disabled
	group radio system
service atcid-daemon-u /vendor/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /vendor/bin/atcid
	user root
	group radio system
	disabled
	oneshot

#lenovo-sw sunyue5 add for override nvram begin
service override_nvram /system/bin/override_nvram
    user root
    group system
    disabled
    oneshot
on property:service.nvram_init=Ready
    start override_nvram
#lenovo-sw sunyue5 add for override nvram end

on early_property:ro.build.type=eng
start atci_service
start atcid-daemon-e
service audio-daemon /vendor/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group nvram media system sdcard_rw
    disabled
    oneshot






service spm_script /vendor/bin/spm_loader
    user system
    group system
    class core
    oneshot

#Lenovo-sw weimh1 add 2016-10-10 begin:add auto cali daemon
service acgdaemon /system/bin/acgdaemon -p 0
    user system
    group system
    class main  #run once every time so need to set oneshot after
#Lenovo-sw weimh1 add 2016-10-10 end:add auto cali daemon

